{% macro render_pagination(pagination) %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ pagination.prev|url }}">Vorherige</a></li>

      {% for page in pagination.pages %}
        <li class="page-item {% if pagination.page == page %}active{% endif %}"{% if pagination.page==page %} aria-current="page"{% endif %}><a class="page-link" href="{{ page|url }}">{{ page }}</a></li>
      {% endfor %}
    <li class="page-item"><a class="page-link" href="#">{{ pagination.page }}</a></li>

    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}"><a class="page-link" href="{{ pagination.next|url }}">Nächste</a></li>
  </ul>
</nav>
{% endmacro %}
