{% extends "layout.html" %}
{% from "macros/teaser.html" import render_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block scripts %}
<script src="{{ '/static/index.bundle.min.js'| asseturl }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {

  const options = {
	  keyboard: true,
	  size: 'fullscreen'
  };

  document.querySelectorAll('.rsv-lightbox').forEach((el) => el.addEventListener('click', (e) => {
    e.preventDefault();
    const lightbox = new Lightbox(el, options);
    lightbox.show();
  }));

});
</script>
{% endblock %}
{% block body %}
<div class="col mb-5">
  <p class="lead">Schwerpunkt &mdash; {{ this.state }}</p>
  <h1>{{ this.title }}</h1>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <p class="lead">{{ this .teaser }}</p>
        <dl class="row">
          {% for blk in this.facts.blocks %}
          {{ blk }}
          {% endfor %}
        </dl>
      </div>
      <div class="col">
        {% if this.attachments.images %}
        <img src="{{ this.attachments.images.first()|url }}" width="100%" loading="lazy" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="col mb-5">
  {{ this.body }}
</div>
{% if this.downloads %}
<div class="col mb-5">
  <h2>Downloads</h2>
  <div class="list-group">
    {% for blk in this.downloads.blocks %}
      {{ blk }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% set ns = namespace(filenames=[]) %}
{% for filepath in this.attachments.images | map(attribute="attachment_filename") %}
  {% set ns.filenames = ns.filenames + [filepath.split('/')[-1]] %}
{% endfor %}
{% if ns.filenames | reject("eq", this.image) %}
<div class="col mb-5">
  <h2>Album</h2>
  <div class="row">
    {% for image in this.attachments.images if image.attachment_filename.split('/')[-1] != this.image %}
    <div class="col-sm-4" style="cursor:pointer">
      <img src="{{ image.thumbnail(1200, 1200)|url }}"
           data-src="{{ image | url(absolute=True) }}"
           data-gallery="schwerpunkt-gallery"
           data-toggle="lightbox"
           class="rsv-lightbox img-fluid">
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}