{% extends "layout.html" %}
{% from "macros/teaser.html" import render_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="col mb-3">
  <p class="lead">Schwerpunkt &mdash; {{ this.state }}</p>
  <h1>{{ this.title }}</h1>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <p class="lead">{{ this .teaser }}</p>
        <dl class="row">
          {% for blk in this.facts.blocks %}
          {{ blk }}
          {% endfor %}
        </dl>
      </div>
      <div class="col">
        {% if this.attachments.images %}
        <img src="{{ this.attachments.images.first()|url }}" width="100%" loading="lazy" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="col mb-3">
  {{ this.body }}
</div>
<div class="col mb-3">
  <h2>Downloads</h2>
  <div class="list-group">
    {% for download in this.attachments.documents %}
    <a href="{{ download|url }} " class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
      </svg>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ download.attachment_filename.split('/')[-1] }}</h6>
          <p class="mb-0 opacity-75">{{ download.attachment_filename.split('/')[-1] }}</p>
        </div>
        <!-- <small class="opacity-50 text-nowrap">now</small> -->
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<div class="col mb-3">
  <h2>Album</h2>
</div>
  {% endblock %}
