{% extends "layout.html" %}
{% from "macros/teaser.html" import render_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="col mb-5">
  <p class="lead">Schwerpunkt &mdash; {{ this.state }}</p>
  <h1>{{ this.title }}</h1>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <p class="lead">{{ this .teaser }}</p>
        <dl class="row">
          {% for blk in this.facts.blocks %}
          {{ blk }}
          {% endfor %}
        </dl>
      </div>
      <div class="col">
        {% if this.attachments.images %}
        <img src="{{ this.attachments.images.first()|url }}" width="100%" loading="lazy" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="col mb-5">
  {{ this.body }}
</div>
{% if this.downloads %}
<div class="col mb-5">
  <h2>Downloads</h2>
  <div class="list-group">
    {% for blk in this.downloads.blocks %}
      {{ blk }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% set ns = namespace(filenames=[]) %}
{% for filepath in this.attachments.images | map(attribute="attachment_filename") %}
  {% set ns.filenames = ns.filenames + [filepath.split('/')[-1]] %}
{% endfor %}
{% if ns.filenames | reject("eq", this.image) %}
<div class="col mb-5">
  <h2>Album</h2>
  <div class="album mt-3 mb-5">
    <div class="container ps-0 pe-0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
        {% for image in this.attachments.images if image.attachment_filename.split('/')[-1] != this.image %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="#albumimage-{{ image.attachment_filename.split('/')[-1] }}" data-bs-toggle="modal">
              <img class="card-img-top" width="100%"
                  src="{{ image.thumbnail(1300, 1300)|url }}"
                  alt="" loading="lazy" />
            </a>
          </div>
        </div>
        <div class="modal" tabindex="-1" id="albumimage-{{ image.attachment_filename.split('/')[-1] }}">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content"></div>
              <div class="modal-header">
                <h5 class="modal-title">{{ image.attachment_filename.split('/')[-1] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
              </div>
              <div class="modal-body"></div>
                <img class="card-img-top" width="100%"
                      src="{{ image|url }}"
                      alt="" loading="lazy" />
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
