{% extends "layout.html" %}
{% from "macros/teaser.html" import render_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% for blk in this.schedule.blocks %}
  {{ blk }}
{% endfor %}


<div class="row row-cols-1 row-cols-lg-2 flex-lg-row-reverse g-5 py-5">
  <div class="col">
    <img src="{{ this.image|url }}" class="d-block mx-lg-auto img-fluid rounded" alt="{{ this.image_alt }}" width="100%" loading="lazy">
  </div>
  <div class="col">
    <h1 class="display-5 fw-semibold text-body-emphasis lh-1 mb-3">{{ this.title }}</h1>
    <p class="lead">{{ this.body }}</p>
  </div>
</div>
<div class="row row-1 mt-3 mb-5">
  <div class="col">
    <h2>Aktuelles</h2>
    <div class="album container ps-0 pe-0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-3 gy-5 mb-3">
        {% for child in site.query('/aktuelles').order_by('-pub_date').limit(3) %}
          {{ render_teaser(child, variant="aktuell") }}
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <a href="{{ '/aktuelles'|url }}" class="btn btn-primary">zur Übersicht aller Beiträge </a>
    </div>
  </div>
</div>
<div class="row row-1 mt-3 mb-5">
  <div class="col">
    <h2>Schwerpunkte</h2>
    <div class="album container ps-0 pe-0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-3 gy-5 mb-3">
        {% for child in site.query('/schwerpunkte').filter(F.featured == true).order_by('-pub_date') %}
          {{ render_teaser(child, variant="schwerpunkt") }}
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <a href="{{ '/schwerpunkte'|url }}" class="btn btn-primary">zur Übersicht aller Schwerpunkte</a>
    </div>
  </div>
</div>
{% endblock %}
